#header {
  font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #f2b632;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  background-color: #677077;
  line-height: 90px;
  font-size: 18px;
  z-index: 1000;
}