<div class="container">
	<div class="row mb-3">
		<div id="title" class="col-12 text-center">
			About Me
		</div>
	</div>
	<div id="information" class="row mb-5">
		<div class="col-12 text-center mb-3">
			I am a junior Computer Science student on the Software Engineering track at Baylor University.
			As a computer scientist, I have found that I enjoy UI/UX, data analytics and product/project managment.
			I am currently seeking internship oppurtinites within those sectors of industry for Summer 2019.
			My current future academic plans, following time spent in industry, are to enter a Ph.D. program in Computer Science so that I can conduct research.
			My interests outside of Computer Science are: music (classical), clarinet, naps and food! If I am not infront of a computer you can find me enjoying one of those.
		</div>
	</div>
</div>