#about {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #f2b632;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

#information {
	font-weight: normal;
	text-transform: none;
	color: #b5b5b7;
	
}

#title {
font-family: 'Montserrat', sans-serif;
font-weight: bold;
color: #f2b632;
letter-spacing: 0.2em;
text-transform: uppercase;
font-size: 18px;
}