<div class="container">
    <div class="row text-center">
        <div class="col-12 align-middle">
            <h4>about me</h4>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12 align-middle">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam suscipit sagittis dapibus. Vestibulum vel eros at diam lacinia finibus vel eget tellus. Praesent vel erat non velit molestie dapibus ut sed nisl. Praesent non ex elit. Integer non erat elit. Nunc ut sapien sed enim blandit interdum vel eget elit. Cras varius nisl mi, at auctor ex bibendum ut. Quisque vitae elit ullamcorper, venenatis elit ac, molestie lacus. Pellentesque et lectus vel ante sodales pellentesque. Etiam molestie purus eu sem interdum porttitor. Vestibulum congue et ex sed ultricies. Integer porttitor lorem ut vestibulum cursus. Duis rhoncus massa magna, ac tincidunt orci ornare et.</p>
        </div>
    </div>
</div>