<div id="resume" class="container">
	<div class="row mb-3">
		<div id="title" class="col-12 text-center">
			Education
		</div>
	</div>
	<div id="information" class="row mb-5">
		<div class="col-5 text-right mb-3">
			<img type="png" class="img-fluid" src="assets/img/bu2.png" alt="Baylor University Logo">
		</div>
		<div class="col-6 text-left mb-3">
			<b>Baylor University, School of Engineering and Computer Science</b><br/>
			Bachelors of Computer Science, Software Engineering <br>
			Expected Graduation: May 2020
		</div>
		<div class="col-3"></div>
	</div>
	
	<div class="row mb-3">
		<div id="title" class="col-12 text-center">
			Clubs & Organizations
		</div>
	</div>
	<div id="information" class="row mb-3">
		<div class="col-5 text-right">
			<b>Association of Computing Machinery (ACM)</b>
		</div>
		<div class="col text-left">
			ACM, the world's largest educational and scientific computing society, delivers resources that advance computing as a science and a profession. ACM provides the computing field's premier Digital Library and serves its members and the computing profession with leading-edge publications, conferences, and career resources. (From ACM's website: http://www.acm.org/)
		</div>
	</div>
	<div id="information" class="row mb-3">
		<div class="col-5 text-right">
			<b>American Medical Student Association (AMSA)</b>
		</div>
		<div class="col text-left">
			The American Medical Student Association (AMSA), with a half-century history of medical student activism, is the oldest and largest independent association of physicians-in-training in the United States. (From AMSA's website: https://www.amsa.org/)
		</div>
	</div>
	<div id="information" class="row mb-5">
		<div class="col-5 text-right">
			<b>Women In Computer Science (WiCS)</b>
		</div>
		<div class="col text-left">
			The Women in Computer Science Club (WICS) will promote computer science skills, and provide a supportive environment for all women to join. The goal of the club is to engage female students of computer science and non-computer science majors in STEM-based projects with a major focus on computer science. (From FDU Academics - https://view2.fdu.edu/)
		</div>
	</div>
	
	<div class="row mb-3">
		<div id="title" class="col-12 text-center">
			Languages & Frameworks
		</div>
	</div>
	<div id="information" class="row mb-5">
		<div class="col-12 text-center">
			<img id="logo" type="png" class="img-fluid mx-2 mb-3" src="assets/img/cpp.png" alt="C++">
			<img id="logo" type="png" class="img-fluid mx-2 mb-3" src="assets/img/java.png" alt="Java SE">
			<img id="logo" type="jpg" class="img-fluid mx-2 mb-3" src="assets/img/js.jpg" alt="JavaScript">
			<img id="logo" type="png" class="img-fluid mx-2 mb-3" src="assets/img/react.png" alt="React.js">
			<img id="logo" type="png" class="img-fluid mx-2 mb-3" src="assets/img/angular.png" alt="AngularJS">
			<img id="logo" type="png" class="img-fluid mx-2 mb-3" src="assets/img/html.png" alt="HTML5">
			<img id="logo" type="png" class="img-fluid mx-2 mb-3" src="assets/img/css.png" alt="CSS">
			<img id="logo" type="png" class="img-fluid mx-2 mb-3" src="assets/img/bootstrap.png" alt="Bootstrap">
			<img id="logo" type="png" class="img-fluid mx-2 mb-3" src="assets/img/python.png" alt="Python">
			<img id="logo" type="png" class="img-fluid mx-2 mb-3" src="assets/img/mysql.png" alt="MySQL">
		</div>
	</div>
	<div class="row mb-3">
		<div id="title" class="col-12 text-center">
			Experience
		</div>
	</div>
	<div id="information" class="row align-right">
		<div class="col-3 text-right mb-3">
			<img id="logoComp" type="png" class="img-fluid" src="assets/img/cbord2.png" alt="CBORD Logo">
		</div>
		<div class="col-4 text-left mr-3  mb-3">
			<b>CBORD </b>| Waco, Texas<br/>
			Software Engineer Intern<br>
			May 2018 - Present
		</div>
		<div class="col-4 text-left mb-3">
			<b>Summary</b><br/>
			As a Software Engineer Intern at CBORD, I am learning many new languages and frameworks.
			Along with this, I am gaining experience working in software as a service (SAAS) teams and the Agile methodology.
			My main project at CBORD has been helping to bring more modern styles to the AdminWeb experience within the CSGold product line.
			This is being done by integrating more modern styling by merging Bootstrap with the existing React.js and CSS.
		</div>
	</div>
	
	<div id="information" class="row align-middle mb-5">
		<div class="col-3 text-right mb-3">
			<img id="logoComp" type="png" class="img-fluid" src="assets/img/bswh3.png" alt="BSWH Logo">
		</div>
		<div class="col-4 text-left mr-3 mb-3">
			<b>Baylor Scott & White Health</b> | Dallas, Texas<br/>
			Simulation Software Intern<br>
			May 2017 - August 2017
		</div>
		<div class="col-4 text-left mb-3">
			<b>Summary</b><br/>
			As a Simulation Software Intern within the Center for Evidence Based Simulation Lab at the Baylor Research
			Institute of Baylor Scott & White Health, I conducted research as well as developed virtual reality software.
			My main project was to create a bone modeling simulation that would allow physicans to invoke a cutting plane to show the
			fit of ball-and-socket joints. Along with this project, I was involved in research aimed at determining the viability of
			VR being used to educate aspiring surgeons.
		</div>
	</div>
</div>