<div class="container">
    <div class="row text-center">
        <div class="col-12 align-middle">
            <h4>résumé</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h6>education</h6>
        </div>
    </div>
    
    <!-- Education -->
    <div class="row align-middle">
        <div class="col-8 text-left px-5">
            <p>Baylor University</p>
            <p>Bachelor of Science in Computer Science</p>
        </div>
        <div class="col-4 text-right">
            <p>August 2016 - May 2020</p>
            <p>Waco, Texas</p>
        </div>
    </div>
    <div class="row align-middle">
        <div class="col-12 text-left my-3">
            <h6 class="px-4">relevant coursework</h6>
        </div>
    </div>
    <div class="row align-middle">
        <div class="col-12 text-left px-5">
            
        </div>
    </div>
</div>